body {
  background-color: var(--bg);
  font-size: var(--font-size);
  color: var(--text);
  transition: 0.3s ease;
  font-family: sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.content{
  flex-grow: 1;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}