body {
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s ease;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* user-select: none; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 250ms ease-in-out, transform 300ms ease-out;
  animation: slide-down 0.8s ease-out forwards;
}

.logo:hover {
  filter: drop-shadow(0 0 1em #ff6464aa);
  transform: translateY(-6px) scale(1.02);
}

.read-the-docs {
  color: #b1b1b1;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-500px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}