.post-header {
  background-color: rgba(0, 0, 0, 0);

  margin: 0 auto; 
}

.post-reader {
  padding: 2rem;
  font-size: 20px;
  background-color: rgb(19, 11, 11);

  max-width: 800px;
  margin: 0 auto; 
}

.post-reader article p {
  text-align: left;
}

.post-reader p {
    text-align: left;
    line-height: 1.7;
    margin-bottom: 1.5em;
}