.post-container{
  display: flex;
  flex-direction: column;;
}

.post-header {
  margin-top: auto;
  flex-grow: 1;
  justify-content: center;
}

.post-reader {
  padding: 2rem;
  font-size: 20px;
  background-color: var(--bg2);
  border: 1px solid var(--accent2);
  border-radius: 8px;

  max-width: 700px;
  margin: 0 auto; 
}

.post-reader article p {
  text-align: left;
}

.post-reader p {
    text-align: left;
    line-height: 1.7;
    margin-bottom: 1.5em;
}