.post-preview{
  background-color: var(--bg2);
  padding: 2em;
  border-radius: 8px;
  border: 1px solid var(--accent2);
  transition: filter 500ms ease-in-out;
  filter: drop-shadow(0 0 0em rgba(132, 132, 132, 0));
  animation: slide-up 0.8s ease-out forwards;
  color: var(--text);

  box-shadow: 
      inset 2px 2px 4px rgba(37, 37, 37, 0.3),
      inset -2px -2px 4px rgba(0, 0, 0, 0.3);
  
  display: flex;
  flex-direction: column;
}

.post-preview:hover {
  filter: drop-shadow(0 0 1em var(--accent));
  border: 1px solid var(--accent);
}

h2{
  /* margin-top: auto; */
  margin: 0;
  line-height: 100%;
}

.preview{
  font-style: italic;
  color: var(--text);
  margin: 10px;
  margin-bottom: auto;
}

.date{
  color: var(--accent);
  margin: 0;
}